<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
    <title>ĐĂNG KÝ THÔNG TIN</title>
</head>

<body>
    <form action="/admin/infox" method="POST">
        <h1><%= title %></h1>
        <div id="vienNgoai">
            <div class="trong">
                <span>Họ: &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" name="firstName">
            </div>
            <div class="trong">
                <span>Tên: &nbsp;&nbsp;&nbsp;</span>
                <input type="text" name="lastName">
            </div>
            <div class="trong">
                <span>Địa chỉ: </span>
                <input type="text" name="addr">
            </div>
            <div>
                <button type="submit">Hoàn tất</button>
            </div>
        </div>
    </form>
</body>

</html>