<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="http://localhost:88/assets/style.css" /> -->
    <title>Person</title>
</head>
<body>
    <!-- ejs.co -->
    <h1 style="color: blue;">Xin chào <%= value; %> </h1>
    <h2 style="color: red; ">Query String: <%= queryString; %></h2>
    <!-- Dùng biến thì có thể thao tác được với các hàm trong nodejs -->
</body>
</html>